---
---
@charset "utf-8";

* {
  box-sizing: border-box;
}

@import "normalize";
@import "clearfix";
@import "media";
@import "truncate";
@import "syntax-highlighting";

body {
  font-family: "proxima nova", sans-serif;
  font-size: 20px;
  background: #fefefe;
  color: #4a4a4a;
  padding-left: 20px;
  padding-right: 20px;
  
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-bottom: 40px;
}

h1 {
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  font-weight: 100;
}

p {
  line-height: 1.4;
  max-width: 600px;
}

a {
  color: #C0392B;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

ul, ol {
  padding-top: 20px;
  padding-bottom: 10px;
}
li {
  margin-bottom: 10px;
}
li:first-child p {
  margin-top: 0;
}

blockquote {
  padding-top: 30px;
  padding-bottom: 40px;
}
blockquote p {
  opacity: 0.7;
  font-style: italic;
}
cite {
  color: #C0392B;
}

p code {
  border: 1px solid rgba(black, 0.1);
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 5px;
  color: #d14;
}

.main-header {
  padding-top: 60px;
  margin-bottom: 100px;
  
  @media screen and (max-width: 600px) {
    padding-top: 20px;
    margin-bottom: 40px;
  }
}
.main-header a {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.main-header img {
  width: 40px;
}
.main-header .btn {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid #4a4a4a;
  color: #4a4a4a;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  
  @media screen and (max-width: 600px) {
    position: absolute;
  }
}
.main-header .btn:hover,
.main-header .btn:focus {
  text-decoration: none;
  border: 1px solid #C0392B;
  color: #C0392B;
}

.main-footer {
  text-align: center;
  font-size: 12px;
  padding: 40px;
  text-transform: capitalize;
  opacity: 0.5;
  font-weight: 600;
}

.main-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.main-nav ol {
  list-style: none;
  padding: 0;
}
.main-nav li {
  margin-bottom: 20px;
}
.main-nav a {
  text-transform: capitalize;
}

article header {
  margin-bottom: 40px;
}
article header .date {
  text-align: center;
  display: block;
}

ol .date {
  float: right;
  font-size: 14px;
  
  @media screen and (max-width: 600px) {
    float: none;
    display: block;
  }
}

.date {
  opacity: 0.5;
}